.border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width .3s ease-in-out, height .3s ease-in-out, opacity .3s ease-in-out;
  pointer-events: none;

  &__tl,
  &__bl,
  &__tr,
  &__br {
    position: absolute;
    @include fluid(width, 29px, 39px);
    @include fluid(height, 29px, 39px);
  }

  &__tl,
  &__tr {
    top: 0;
    border-top: 2px solid #fff;
  }

  &__tl,
  &__bl {
    left: 0;
    border-left: 2px solid #fff;
  }

  &__tr,
  &__br {
    right: 0;
    border-right: 2px solid #fff;
  }

  &__bl,
  &__br {
    bottom: 0;
    border-bottom: 2px solid #fff;
  }

  &--alt {
    .border {

      &__tl,
      &__bl,
      &__tr,
      &__br {
        position: absolute;
        @include fluid(width, 15px, 20px);
        @include fluid(height, 15px, 20px);
        border-color: #F83737;
      }
    }
  }
}