.footer {
  background-color: #18191C;
  padding-top: 50px;
  padding-bottom: 25px;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr .6fr .5fr;
    @include fluid(gap, 20px, 55px);
    @include fluid(padding-bottom, 30px, 55px);
    border-bottom: 1px solid #242528;
  }

  &__item {
    display: flex;
    flex-direction: column;

    .logo {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-bottom: 4px;

      &-img {
        width: unset;
      }
    }

    .socials,
    .btn {
      margin-left: auto;
    }

    .socials {
      @include fluid(margin-top, 15px, 30px);
    }

    &-text {
      font-size: 12px;
      color: #5D5E60;
      margin-bottom: 12px;
      @include fluid(margin-bottom, 10px, 20px);
      line-height: 1.4;
    }

    &-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-icon {
      width: 20px;
      height: 20px;
    }

    &-link {
      display: flex;
      align-items: center;
      @include fluid(gap, 10px, 15px);
      color: #B9BABA;
      transition: color .23s ease-in-out;
      line-height: 1.4;

      &:hover {
        color: #F83737;
      }
    }

    &-time {
      display: flex;
      @include fluid(gap, 10px, 15px);
      color: #B9BABA;

      .footer__item-icon {
        margin-top: 5px;
      }
    }

    &-title {
      font-weight: 700;
      @include fluid(margin-bottom, 20px, 36px);
      text-transform: uppercase;
    }

    &-column {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 10px, 20px);
    }
  }

  &__bot {
    @include fluid(margin-top, 15px, 20px);

    &-box {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &-copy {
      color: #5D5E60;
      font-size: 12px;
      @include fluid(margin-right, 130px, 190px);
    }

    &-link {
      margin-right: auto;
      font-size: 12px;
      color: #5D5E60;
      transition: color .23s ease-in-out;

      &:hover {
        color: #F83737;
      }
    }
  }
}

@media(max-width: 992px) {
  .footer {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      &:first-child {
        order: -1;
      }

      &:last-child {
        grid-area: 1/2/2/3;
        align-items: end;
      }

      .btn,
      .socials {
        margin-left: unset;
      }
    }

    &__bot {
      &-box {
        justify-content: space-between;
      }

      &-copy,
      &-link {
        margin-right: unset;
      }
    }
  }
}

@media(max-width: 576px) {
  .footer {
    &__bot {
      &-box {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media(max-width: 390px) {
  .footer {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__item {
      // &:first-child {
      //   order: -1;
      // }

      &:last-child {
        grid-area: unset;
        grid-row: 2/3;
        // order: 0;
      }
    }
  }
}