*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
	list-style: none;
}

img {
	width: 100%;
	display: block;
}

input,
button {
	background-color: transparent;
	outline: none;
	font: inherit;
}

fieldset {
	padding: 0;
}

a {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	position: relative;
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	@include fluid(font-size, 14px, 16px);
	line-height: 1.875;
	background-color: #18191C;
	color: #fff;

	&.no-scroll {
		overflow-y: hidden;
	}
}

.wrapper {
	position: relative;
	// min-height: 100dvh;
	min-width: 320px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;

	&__line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		z-index: -1;

		&-el {
			height: 100%;
			width: 1px;
			background-color: rgba(255, 255, 255, 0.05);
		}
	}
}

.main {
	flex-grow: 1;
}

.container {
	// контейнер + padding с двух сторон
	@include fluid(width, 962px, 1170px);
	@include container;
}

[class$='__icon'],
[class$='-icon'] {
	display: flex;
	align-items: center;

	svg {
		path {
			transition: fill 0.23s ease-in-out, stroke 0.23s ease-in-out;
		}
	}
}

.modal {
	display: none;

	&.fancybox__content {
		padding: 0;
		background-color: #18191C;
	}
}


@media (max-width: 1366px) {}

@media (max-width: 992px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}