.work {
  &__wrapper {
    @include fluid(margin-top, 100px, 140px);
    @include fluid(margin-bottom, 100px, 170px);
  }

  &__title {
    @include fluid(margin-bottom, 40px, 120px);
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    @include fluid(row-gap, 20px, 50px);
    -moz-column-gap: 5px;
    column-gap: 5px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 16px, 25px);

    &-num {
      @include fluid(font-size, 40px, 96px);
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      position: relative;
      font-size: 96px;
      background-image:
        linear-gradient(0deg, #F83737 0%, #F83737 0%, transparent 0%),
        linear-gradient(180deg, white 100%, white 100%, transparent 100%);
      font-family: "Bayon";
      line-height: .8;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

    &-text {
      text-wrap: balance;
      text-transform: uppercase;
      color: #B9BABA;
      @include fluid(font-size, 12px, 14px);
    }

    .btn {
      margin-top: auto;
    }
  }
}

@media(max-width:768px) {
  .work {
    &__item {
      align-items: center;

      &-text {
        text-align: center;
      }
    }
  }
}